<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="InfoFile" fileName="${log_dir}/INFO.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
        		<ThresholdFilter level="warn"  onMatch="DENY" onMismatch="NEUTRAL"/>
        		<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
        		<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
        		
        		<ThresholdFilter level="info"  onMatch="ACCEPT" onMismatch="DENY"/>
        	</Filters>
        </File>
        <File name="DebugFile" fileName="${log_dir}/DEBUG.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
            <Filters>
        		<ThresholdFilter level="info"  onMatch="DENY" onMismatch="NEUTRAL"/>
        		<ThresholdFilter level="warn"  onMatch="DENY" onMismatch="NEUTRAL"/>
        		<ThresholdFilter level="error" onMatch="DENY" onMismatch="NEUTRAL"/>
        		<ThresholdFilter level="fatal" onMatch="DENY" onMismatch="NEUTRAL"/>
        		
        		<ThresholdFilter level="debug"  onMatch="ACCEPT" onMismatch="DENY"/>
        	</Filters>
        </File>
        <File name="ErrorFile" fileName="${log_dir}/ERROR.log" immediateFlush="false" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" />
            <AppenderRef ref="DebugFile" level="debug"/>
            <AppenderRef ref="InfoFile" level="info"/>
            <AppenderRef ref="ErrorFile" level="error"/>
        </Root>
    </Loggers>
</Configuration>